<footer class="footer-background ph3 pv4 white">
	<div class="mw7 center">
		<div class="flex-ns flex-column justify-between">

			<!-- <div class="center w4 pa2 relative top--162">
				<img src="/img/logo-stack.svg" alt="RS Joinery logo" class="br0 db mb0 w-100"/>
			</div> -->

			<div class="center">
				<ul class="flex justify-center f7 b white pt3">
					<li class="mr3 link"><a href="/#services">Services</a></li>
					<!-- <li class="mr3 link"><a href="/gallery">Gallery</a></li> -->
					<li class="mr3 link"><a href="/#contact">Contact</a></li>
					<li>
						<a href="https://www.instagram.com/rs.joiners">
							<img src="/img/icons-instagram.svg" alt="RS Joiners Instagram" class="db" style="width: 30px; height: 30px; cursor: pointer;"/>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/main.js"></script>
