<!-- <div class="flex justify-between"> -->
  <div class="flex justify-between home-jumbotron relative">
    <div class="w-100 w-60-l pv3 ph3 pt4-l pb5-l pl5-l pr4-l">
      <div class="db mb3">
        <div class="mw7-l relative mb3">
          <h1 class="f2 di lh-title mb3 white font-secondary">
            {{.title}}
          </h1>
        </div>
        <div class="mw7-l relative font-primary">
          {{ if .subtitle }}
          <p class="f6 di lh-title mb3 white">
            {{.subtitle | safeHTML }}
          </p>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="dn db-l w-50-l relative overflow-hidden">
      <div class="clip-path absolute top-0 right-0" style="right: -149px; top: 0px; width: 643px;">
        <img src="/img/alcove-shelves_02.jpg" style="width: 495px;">
      </div>
    </div>
  </div>
<!-- </div> -->
