<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white sticky top-0 z-max bs-1 pa2 pa3-ns">

	<!-- Logo -->
	<a href="#home" class="db mr4 h-100 w3 w4-m flex-none scrollTo">
		<img src="/img/logo.svg" alt="RS Joinery logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b black">
		<li class="mr3"><a href="#services" class="scrollTo link">Services</a></li>
		<!-- <li class="mr3"><a href="/gallery" class="scrollTo link">Gallery</a></li> -->
		<li class="mr3"><a href="#contact" class="scrollTo link">Contact</a></li>
		<li>
			<a href="https://www.instagram.com/rs.joiners">
				<img src="/img/icons-instagram-black.svg" alt="RS Joiners Instagram" class="db" style="width: 30px; height: 30px; cursor: pointer;"/>
			</a>
		</li>
	</ul>

</nav>
