<div class="w-100 pv3 ph3 pt4-l pb5-l ph5-l home-swiperblock relative">
  <div class="mw6">
    <div class="db mb3">
      <div class="mw7 relative mb3">
        <h1 class="f2 di lh-title mb3 black mw6 font-secondary">
          {{.title}}
        </h1>
      </div>
      <div class="mw7 relative font-primary">
        {{ if .subtitle }}
        <p class="f6 di lh-title mb3 black mw6">
          {{.subtitle | safeHTML }}
        </p>
        {{ end }}
      </div>
    </div>
  </div>
  <div>
    <div class="center pa3">
      {{ if .heading }}
      <div class="tc mb2 pb2">
        <h2 class="f3 l di lh-title mb3 black">
          {{.heading }}
        </h2>
      </div>
      {{ end }}
      <div class="swiper-container pb3">
        {{ if .subheading }}
        <div class="mw7 tc mb5">
          <p class="f6 di db lh-title mb3 black">
            {{.subheading}}
          </p>
        </div>
        {{ end }}
        <div class="swiper-wrapper">
          {{ range .swiper}}
          <div class="swiper-slide">
            <div class="bs-1 br1 overflow-hidden">
              <picture class="flex w-100 h-100">
                <source srcset="{{.image}}" type="image/jpeg">
                <img src="{{.image}}" alt="{{.alt}}" class="lazyload img-100">
              </picture>
            </div>
            <span class="black f6 tc db mv2">{{ .heading }}</span>
          </div>
          {{ end }}
        </div>
       <div class="swiper-pagination">pagination</div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
    <!-- <div class="mw7 center">
      <button class="btn w-100 w-auto-ns raise center">See more</button>
    </div> -->
  </div>
</div>
