.link {
  text-decoration: none;
  transition: var(--hover-transition);
  color: inherit;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}

.link:link,
.link:visited {
  transition: color .15s ease-in;
}
.link:hover   {
  transition: color .15s ease-in;
  border-bottom: 3px solid;
}
.link:active  {
  transition: color .15s ease-in;
}
.link:focus   {
  transition: color .15s ease-in;
  outline: 1px dotted currentColor;
}
