.static { position: static; }
.sticky { position: sticky; }
.relative  { position: relative; }
.absolute  { position: absolute; }
.fixed  { position: fixed; }

.top-0 {
  top: 0;
}

.top--162 {
  top: -168px;
}

.top--132 {
  top: -132px;
}

.right-0 {
  right: 0;
}

@media (--breakpoint-not-small) {
  .static-ns { position: static; }
  .relative-ns  { position: relative; }
  .absolute-ns  { position: absolute; }
  .fixed-ns  { position: fixed; }
}

@media (--breakpoint-medium) {
  .static-m { position: static; }
  .relative-m  { position: relative; }
  .absolute-m  { position: absolute; }
  .fixed-m  { position: fixed; }
}

@media (--breakpoint-large) {
  .static-l { position: static; }
  .relative-l  { position: relative; }
  .absolute-l  { position: absolute; }
  .fixed-l  { position: fixed; }
}
