{{ define "main" }}

<section id="home">
{{ partial "jumbotron" (dict "title" .Title "subtitle" .Params.subtitle) }}
</section>

<section id="services">
{{ partial "swiper-block" .Params.swiperblock }}
</section>

<section id="contact">
{{ partial "contact-form" }}
</section>

<!-- {{ partial "short-text" .Params.blurb}} -->

<!-- {{ partial "2-up" .Params }} -->

<!-- {{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }} -->

<!-- {{ partial "blog" . }} -->

{{ end }}
